body {

  background: #ffe9ae;

}

#root {

  height: 100vh;
  grid-template-rows: 100px 1fr;

}

nav {

  background: #775b34;
  grid-template-columns: 9fr 1fr 1fr 1fr;
  font-family: Forte;

}

nav>section {

  padding: 0.1em;

}

nav img {

  height: 100%;

}

nav button {

  border: 0;
  background: none;
  color: #b7ffb5;
  font-size: 20pt;
  cursor: pointer;

}

nav button:hover {

  background: #ffe9ae;
  color: #775b34;
  text-decoration: underline;

}

main {

  padding: 1.5em 2.5em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5em;

}

main>section {

  color: #e10511;
  font-size: 20pt;
  font-family: Gill Sans MT;

}

form {

  grid-template-columns: 1fr 1fr;
  gap: 1em 1.5em;

}

label {

  display: flex;
  height: 100%;
  align-items: center;
  justify-content: right;
  text-align: right;

}

form input, form select {

  color: #b7ffb5;
  border: 5px solid #edb419;
  padding: 0.25em;
  background: #775b34;
  font-family: Gill Sans MT;
  font-size: 18pt;

}

main p {

  margin: 0;
  grid-column-end: span 2;
  text-align: justify;

}
